
//fonts
$fontMedium: "montserrat-medium", sans-serif

// colors
$pink: #B9408D
$green: #39b54a
$white: #ffffff
$black: #000000
$gray: rgba(255, 255, 255, 0.5)

$XXL: 1600px
$XL: 1366px
$X: 1080px
$L: 768px
$S: 320px
$XS: 288px

$FontFamily: "montserrat-medium", sans-serif
