.cvPage
    height: 100%
    width: 100%

    object
        height: 100%
        width: 100%

        p
            display: flex
            justify-content: center
            align-items: center
            height: 100%

            a
                margin: 0 0 0 5px
